:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  font-family: Arial, sans-serif;
}

.contenedor {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #6334a5;
  font-size: 26px;
}

.descripcion {
  color: #777;
}

.marcador {
  background-color: #f2edff;
  border-radius: 15px;
  padding: 15px;
  margin: 25px 0;
}

.marcador p {
  color: #6334a5;
}

.marcador h2 {
  font-size: 65px;
  color: #6334a5;
  margin: 10px;
}

.mensaje {
  color: #6334a5;
  font-weight: bold;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

button {
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.sumar {
  background-color: #9e0096;
}

.restar {
  background-color: #680386;
}

.reiniciar {
  background-color: #555;
  margin-top: 15px;
}

button:hover {
  opacity: 0.8;
}